@import "style/mixins";
@import "style/tables";
@import "style/typography";

.ag-theme-match-table {
  @extend .ag-theme-nirveda;

  .ag-status-bar {
    display: none;
  }

  .ag-body-viewport {
    border-left: none !important;
  }

  .ag-cell-label-container {
    text-align: center !important;
  }

  .ag-header {
    border-bottom: none !important;

    .ag-header-viewport {
      .ag-header-container {
        border-top: none !important;
        border-bottom: none !important;
        position: relative;
        top: 1px;

        .ag-header-row {
          .ag-header-cell {
            padding-left: 4px;
            padding-right: 24px;
            padding-top: 0px;
            padding-bottom: 0px;
            border-top: 1px solid $gray-light;
            border-bottom: 1px solid $gray-light;
            border-right: 1px solid $gray-light;

            @include font($ibm-plex-sans-medium, 13px, $line-height: 16px, $color: $text-primary);
          }
        }
      }
    }
  }
  .ag-header-row {
    .ag-header-cell {
      padding-left: 4px;
      padding-right: 24px;
      padding-top: 0px;
      padding-bottom: 0px;
      border-top: 1px solid $gray-light;
      border-bottom: 1px solid $gray-light;
      border-right: 1px solid $gray-light;

      @include font($ibm-plex-sans-medium, 13px, $line-height: 16px, $color: $text-primary);
    }
  }

  .ag-body-viewport {
    // The borders between the header/body cells seem to be slightly misaligned.
    border-left: none !important;

    .ag-row {
      border-color: $transparent;
      border-width: 0px !important;

      &.ag-row-hover,
      &.ag-row-focus {
        .ag-cell {
          &.index-cell {
            background-color: $white !important;
          }
        }
        .ag-cell:not(.index-cell) {
          background-color: inherit !important;
        }
      }

      .ag-cell {
        border-bottom: 1px solid $gray-light;
        border-right: none;
        border-left: 1px solid $gray-light;
        @include font($ibm-plex-sans-regular, 12px, $line-height: 14px, $color: $text-secondary);

        &.index-cell {
          @include font($ibm-plex-sans-medium, 12px, $line-height: 16px, $color: $text-primary);
          border: none !important;
        }

        // This is kind of hacky, but unfortunately because of how AGGridReact works
        // we cannot necessarily guarantee that the last HTML child corresponds to
        // the last column - so we have to hardcode in this property.
        &[aria-colindex="8"] {
          border-right: 1px solid $gray-light !important;
        }
      }
    }
  }
}
