.match-viewer-legend {
  background: #fafafa;
  color: #363636;
  padding: 8px 12px;
  border-radius: 25px;
  display: flex;
  margin-bottom: 15px;

  .legend-item {
    line-height: 18px;
    display: flex;

    &:not(:last-child) {
      margin-right: 20px;
    }

    .legend-icon {
      font-size: 18px;
      margin-right: 10px;

      &.asterisk {
        font-size: 26px;
        margin-right: 4px;
        position: relative;
        top: 3px;
      }
    }
  }
}
