@import "style/colors";
@import "style/typography";

.upload-files {
  font-size: 26px;
  font-weight: 800;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: $blue;
  margin-bottom: 24px;
}

.upload-more {
  font-family: $raleway-medium;
  font-size: 14px;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #1e2a5a;
  margin: 1rem 2.5rem;
}

[class*='FileUpload-minimizeModal-'] {
  -webkit-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.54);
}
.minimizeModal {
  bottom: 8%;
  left: 5%;
  position: fixed !important;
  background: white;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.55);
}

.ProgressBar {
  width: 320px;
  height: 10px;
  border: solid 1px #e1e3e4;
  background-color: #e8ebef;
  border-radius: 30px;
  //margin: auto;
  margin-left: calc(2rem - 3px);

  .MuiLinearProgress-determinate {
    height: 10px;
    border-radius: 30px;
  }

  .MuiLinearProgress-bar1Determinate {
    background-image: linear-gradient(to right, #4f4ff7, #5059f7 8%, #5887fb 50%, #5da4fe 82%, #5fafff);
    height: 100%;
  }
}

.MuiButtonGroup-groupedContainedPrimary:not(:last-child) {
  border-right: 1px solid white !important;
}

.minBar {
  width: 100px;
  height: 8px;
  //background-color: rgb(183, 155, 229);

  .MuiLinearProgress-determinate {
    height: 10px;
    border-radius: 30px;
  }

  .MuiLinearProgress-bar1Determinate {
    background-image: linear-gradient(to right, #4f4ff7, #5059f7 8%, #5887fb 50%, #5da4fe 82%, #5fafff);
    height: 100%;
  }
}

.Progress {
  background-color: rgba(103, 58, 183, 1);
  height: 100%;
  margin: 0;
  border-radius: 5px;
}

.Upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
}

.Content {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.Files {
  margin-left: 32px;
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;
}

.Actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 32px;
}

.Title {
  margin-bottom: 32px;
  color: #555;
}

.Filename {
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
  padding-left: 10px;
}

.Row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e8e9;
}

.CheckIcon {
  margin-left: 32px;
  color: #36cea2;
}

.minIcon {
  margin-left: 6px;
  color: #36cea2;
}

.deleteIcon {
  color: #959daf;
}

.ProgressWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 10px;
}

.Actions {
  button {
    font-family: 'Roboto medium', sans-serif;
    font-size: 14px;
    display: inline-block;
    height: 36px;
    min-width: 88px;
    padding: 6px 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-radius: 2px;
    background: rgba(103, 58, 183, 1);
    color: #fff;
    outline: 0;
  }

  button:disabled {
    background: rgb(189, 189, 189);
    cursor: default;
  }
}

.uploadArea {
  border: 1px dotted #5eaeff;
  border-radius: 20px;
}

.initialUploadArea {
  //padding-top: 6rem;
  //margin-top: -2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.drag {
  background: #f4f6f9;
  border: 1px dotted #5eaeff;
}

.minHeader {
  background: #828ea8;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.minContent {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.rightContainer {
  display: flex;
  flex-direction: column;
}

.fileHeader {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 0;
}

.fileContent {
  height: 50vh;
  width: 50vw;
  overflow-y: auto;
  margin: 1rem 1rem 1rem 0;
  padding-right: 24px;
}

.fileContent::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.fileContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #edeeef;
  border-radius: 10px;
}

.fileContent::-webkit-scrollbar-thumb {
  background: #d7d9db;
  border-radius: 10px;
}

.count {
  margin-left: 3rem;
  font-weight: 500;
}

.MinButton {
  color: white !important;
  background: linear-gradient(70deg, #5eaaff, #5159f8);
  text-transform: unset !important;
  padding: 0.5rem 1.5rem !important;
  border-radius: 8px !important;
  font-size: 16px;
}

.actionDiv {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}

.minimizeIcons {
  //padding: 0 6px;
  display: flex;
  margin: auto 24px auto auto;
  color: #1b1b1b;
}

.popperItem {
  display: flex;
  align-items: flex-start;
}

.popperItem span {
  margin-right: 12px;
}

.minTotal {
  width: 300px;
}

.min-count {
  font-size: 15px;
}

.min-count:hover {
  cursor: pointer;
}

/*.time-icon{
    margin-right: 30px;
}*/

.time-icon:hover {
  cursor: pointer;
}

.close-icon {
  top: 13px !important;
}

.close-icon:hover {
  cursor: pointer;
}

.minFilename {
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.Filename {
  width: 145px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  color: #1e2a5a;
  font-size: 16px;
  font-weight: 600;
}

.or-text {
  color: #727272;
  font-size: 17px;
  margin-bottom: 4px;
  font-family: Raleway, sans-serif;
  font-weight: 500;
}

.clearBtn {
  border: solid 1px #d7d9db !important;
  text-transform: none !important;
  border-radius: 18px !important;
  margin-left: auto !important;
}

.errorText {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
  color: #ef65b1;
}

.dzu-inputLabelWithFiles {
  background: white !important;
}

.dzu-dropzone {
  //border: none !important;
  min-height: 380px !important;
}

.uploadContent {
  text-align: center;
  //padding-top: 25px;
  height: 100%;
  width: 100%;
  display: flex;
}

.splitButton {
  border-radius: 8px;
  box-shadow: 0 4px 5px 0 rgba(111, 125, 168, 0.75);
  background-image: linear-gradient(to left, #4f4ff7 0%, #5059f7 9%, #5887fb 50%, #5da4fe 100%);
  text-transform: unset !important;
}

.minimizeButton {
  border-radius: 8px;
  box-shadow: 0 4px 5px 0 rgba(111, 125, 168, 0.75);
  background-image: linear-gradient(to left, #4f4ff7 0%, #5059f7 9%, #5887fb 50%, #5da4fe 100%);
  text-transform: unset !important;
  margin-left: 10px !important;
}

.splitSideButton {
  border-radius: 8px;
  box-shadow: 0 4px 5px 0 rgba(111, 125, 168, 0.75);
  background-image: linear-gradient(to left, #5059f7 0%, #4f4ff7);
}

.minimise-btn .MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
  background-color: inherit !important;
}

.minimize-options {
  padding: 16px 0 !important;
  margin: 0 24px !important;
  color: #1e2a5a !important;
}

.minimize-list {
  border-radius: 10px;
  box-shadow: 0 5px 2px 0 rgba(209, 218, 229, 0.7);
}

.list-separator {
  border-bottom: 2px solid rgba(225, 227, 228, 0.75) !important;
}

.center-vert {
  display: flex;
  width: fit-content;
  margin: auto;
}

.uploading-status {
  display: inline-block;
  width: 160px;
}

.inputButton {
  position: absolute;
  width: 100%;
  top: calc(50% + 8.25rem + 10px);
}
