@import "style/colors";

.organization-form-container {
  display: flex;

  .container-left {
    width: 50%;
    padding-right: 30px;
    border-right: 1px solid $gray-light;

    .ant-form-vertical .ant-form-item:last-child {
      float: right;
    }
  }
  .container-right {
    width: 50%;
    padding-left: 30px;

    .ant-form-vertical .ant-form-item:last-child {
      float: right;
    }
  }
}
