@import "style/typography";
@import "style/colors";

.documents-charts {
  .split-charts-panel {
    display: flex;
  }

  .stats-panel {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .chart-panel {
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;

    .title-block {
      position: absolute;
      .title {
        width: 100%;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.45);
        margin-bottom: 4px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        font-family: $ibm-plex-sans-light;
        letter-spacing: 0.3px;
        font-feature-settings: "tnum", "tnum";
      }

      .subtitle {
        color: rgba(0, 0, 0, 0.85);
        font-size: 16px;
        margin-top: 0px !important;
        width: 100%;
        font-family: $roboto-regular;
        font-weight: 400;
        letter-spacing: 0.3px;
        font-variant: tabular-nums;
      }
    }

    .chart-wrapper {
      text-align: center;
      width: 100%;
      height: 400px;
    }

    &.pie-chart {
      width: 35%;
      margin-right: 15px;
    }

    &.scatter-chart {
      width: 65%;

      .title-block {
        left: 40px;
      }
    }

    &.line-chart {
      width: 100%;
    }
  }
}
