.back-button {
  width: 10%;
  margin: auto auto auto 0;
  color: #e1e3e4;
}

.back-button button {
  color: #1e2a5a !important;
}

.back-button button:hover {
  background-color: white;
}

.back-button .back-icon {
  color: #838faa;
  border-radius: 50%;
  border: 1px solid #e1e3e4;
  margin-right: 10px;
  height: 26px;
  width: 26px;
  display: flex;
}

.menuItem {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #1e2a2a;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bottom-border {
  border-bottom: 2px solid #e1e3e4;
}
