.rightInfo {
  text-align: left;
  width: calc(65% - 32px);
  color: #1b1b1b;
}


.rightInfo .MuiTextField-root {
  width: 100%;
}

.rightInfo .MuiInput-underline:before {
  border-bottom: none;
}

.rightInfo span {
  display: none;
}

.rightInfo:hover span {
  display: inline;
  margin-left: 6px;
}

.left-side-custom .container .MuiExpansionPanelDetails-root {
	display: block;
}