@import "style/colors";
@import "style/typography";

.anticon-close-circle{
  color: #f2494e !important;
}

.sizelimit{
  color: #f2494e;
}

.uploadInfo{
  margin-top: 15px;
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;
  color: #808080;
  margin-right: 19px;
  margin-left: 19px;
  padding-top: 10px;
}

.formarheading{
  // padding-right: 88px;
  font-size: inherit;
  letter-spacing: initial;
}

.filesupport {
  margin-right: 85px;
}

.filesupportone{
  margin-right: 35px;
}

.uploadInfo .anticon svg {
  color: #329dc9 !important;
  margin-right: 5px !important;
}

.dropzone-area {
  flex-grow: 100;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  .dropzone-upload-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;

    .icon--upload {
      color: $blue;
      height: 8rem;
      width: 8rem;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    .or-text {
      color: #808080;
      font-size: 16px;
      font-family: $raleway-medium;
      margin-bottom: 10px;
      font-weight: 600;
    }

    .drop-text {
      color: $blue;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2rem;
    }
  }

  .dropzone-preview-area {
    margin-top: 30px;

    .preview-row {
      display: flex;
      flex-direction: column;

      .filename {
        text-align: left;
        margin-bottom: 8px;
        font-size: 14px;
        color: $text-secondary;
      }

      .btn--clear {
        border: solid 1px $gray-light !important;
        text-transform: none !important;
        border-radius: 0px !important;
        padding: 6px 10px;
        color: $text-secondary !important;
      }

      .icon--check {
        margin-left: 12px !important;
        margin-right: 12px !important;
        color: $green;
      }

      .icon--error {
        margin-left: 12px !important;
        margin-right: 12px !important;
        color: $red;
      }

      .error-text {
        font-family: $open-sans-regular;
        font-size: 13px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.48;
        letter-spacing: normal;
        text-align: left;
        color: $red;
      }

      .progress-wrapper {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
