.explorer-grid-container {
  // Just the right amount to not shift around the UI when no elements are in the grid.
  min-height: 306px;
  display: flex;
  flex-direction: column;

  .explorer-grid {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 100;

    .card {
      flex: 1 1 145px;
    }
  }
  .pagination-container {
    display: flex;
    justify-content: flex-end;
  }
}
