.results-table-menu {
  height: 40px;

  > .results-table-title {
    width: 100%;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.results-table-options {
  position: absolute;
  right:0;
  top: 0;
  width: 10%;
  text-align: right;
  margin: auto 0px auto auto;
  color: #959daf;
}

.results-table-menu {
  > h3 {
    justify-content: center;
    text-align: center;
    margin: 30px 0 0 0;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Raleway",
  }
  .ResultsSearchButton {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    border-radius: 8px;
    border: solid 1px #e1e3e4;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    max-width: 240px;
    min-height: 38px;
    padding: 0 12px;
    float: left;
  }
}

.results-table-table-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  float: left;
  padding: .5rem 0 0 0;
  max-height: 710px !important;
}

.results-modal table {
  position : relative;
}

.results-modal th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom:3px solid #f2f2f2;
}

.results-modal thead tr th {
  line-height: 1rem;
  padding: 2px 0;
  background: #fff;
}
  