@import "style/colors";

.select-controller {
  display: flex;
  margin-bottom: 8px;

  &.table-select-controller {
    padding-left: 14px;
  }

  &.grid-select-controller {
    margin-bottom: 14px;
  }

  .select-controller-checkbox-container {
    padding: 5px;
    margin-right: 10px;
  }

  .select-controller-icon-button {
    :not(:last-child) {
      margin-right: 12px;
    }
  }
  .select-controller-selected-text {
    line-height: 28px;
    margin-left: 12px;
    font-size: 13px;
  }
}

.full-search-form {
  .ant-form-item-label {
    // This is a hack to get the search field input to line up on the left
    // with the first search field below it.
    margin-right: 25px;
  }
}
