@import "style/typography";
@import "style/colors";

.collection-result-detail {
  display: flex;

  .label-container {
    max-width: 120px;
    width: 120px;
    font-family: $ibm-plex-sans-medium;
    color: $text-primary;
    font-size: 13px;
    line-height: 22px;
    margin-right: 8px;
  }
  .value-container {
    font-family: $ibm-plex-sans-regular;
    color: $text-secondary;
    font-size: 13px;
    line-height: 22px;
  }
}
