@import "style/colors";
@import "style/typography";

.grid-view {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .grid-item {
      flex: 1 1 calc(50% - 15px);
      max-width: 50%;
      background: $white;
      border: 1px solid transparent;
      padding: 10px 30px 20px 30px;
      margin-left: -7.5px;
      margin-right: -7.5px;
      margin-bottom: 15px;
      transition: ease all 0.5s;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

      .grid-item-header {
        display: flex;
        margin-bottom: 10px;

        .title {
          font-size: 16px;
          color: $text-primary;
          font-family: $ibm-plex-sans-bold;
          line-height: 36px;
        }

        .state-container {
          flex-grow: 100;
        }
      }

      &:hover {
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
      }

      .details-container {
        display: flex;
        margin-bottom: 15px;

        .left {
          margin-right: 45px;
        }
      }

      .item-footer {
        display: flex;

        .assigned-container {
          flex-grow: 100;

          .assigned-to-title {
            color: $gray;
            text-transform: uppercase;
            font-size: 11px;
            font-family: $ibm-plex-sans-medium;
            margin-bottom: 5px;
          }
        }

        .footer-extra {
          padding-top: 14px;
          padding-bottom: 3px;
        }
      }
    }
  }
  .pagination-container {
    float: right;
    .ant-pagination-options-size-changer {
      margin-right: 0px !important;
    }
  }
}
