@import "style/typography";
@import "style/colors";

.delete-list-item {
  display: flex;
  border-top: 1px solid $gray-light;
  height: 46px;
  padding-top: 7px;
  padding-bottom: 7px;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
  }

  &:last-child {
    border-bottom: 1px solid $gray-light;
  }

  .checkbox-container {
    padding: 5px;
    margin-right: 10px;
  }

  .icon-container {
    padding: 3.5px;
    margin-right: 6px;

    .icon {
      svg {
        height: 25px;
        width: 25px;
      }
    }
  }
  .text-container {
    padding-top: 7px;
    padding-bottom: 7px;

    p {
      font-family: $ibm-plex-sans-regular;
      color: $text-primary;
      line-height: 18px;
    }
  }
}
