div.chartDiv.react-draggable {
  z-index: 1001;
  height: 650px !important;
}

div.chartDiv .chart-label {
  color: #000;
}
      
div.chartDiv .chart-line{
  cursor: pointer;
  text-align: left;
  margin: 0 0 .5rem 0;
}

div.chartDiv .chart-line label{
  cursor: pointer;
  margin: 0 .4rem 0 0 ;
}

div.chartLeft {
  float: left;
}

div.chartRight {
  float: right;
  max-width: 25%;
  min-height: 218px;
  height: 475px;
  overflow-y: auto;
  padding: 0px 20px 0px 0px;
  margin-top: 20px;
}

div.chartRight::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

div.chartRight::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #edeeef;
  border-radius: 10px;
}

div.chartRight::-webkit-scrollbar-thumb {
  background: #d7d9db;
  border-radius: 10px;
}