.results-modal-wrapper {
  .react-draggable {
    background-color: #fff;
    top: auto !important;
    bottom: 0px;
    border-radius: 20px 20px 0px 0px;
    z-index: 999;
    box-shadow: 0px 0px 65px -15px rgba(0, 0, 0, 0.25);
    padding: 30px 50px;
    width: 90vw !important;
    left: 5vw !important;

    .results-modal-content {
      width: 100%;
      height: 100%;

      .handler {
        background: #fff;
        -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.09);
        width: 90px;
        height: 20px;
        position: absolute;
        left: 50%;
        top: -10px;
        margin-left: -45px;
      }

      table {
        position: relative;

        thead tr th {
          line-height: 1rem;
          padding: 2px 0;
          background: #fff;
        }

        th {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 10;
          width: 100%;
          border-bottom: 3px solid #f2f2f2;
        }
      }
    }
  }

  .next-previous {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
