@import "style/typography";
@import "style/colors";

.page {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;

  .page-header-container {
    margin-bottom: 20px;
    height: 50px;
    flex: 0 0 auto; // don't grow, take up only needed space
    display: flex;

    .page-header-text {
      line-height: 34px;
      font-size: 28px;
      font-family: $ibm-plex-sans-medium;
      color: $text-primary;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-weight: 600;
      flex: 1 0 auto;
    }

    .page-header-extra-container {
      height: 100%;
      display: flex;
    }
  }

  .sidebar-container {
    max-width: 300px;
    margin-right: 0px;
  }

  .page-content-container {
    flex-grow: 100;

    &.with-sidebar {
      margin-left: 15px;
    }

    .page-content {
      width: 100%;
    }

    .page-spinner {
    }
  }
}
