@import "style/typography";
@import "style/colors";
@import "style/layout";

.panel {
  @extend .card-base;
  padding: 2rem 2rem 2rem 2rem;

  .ant-page-header {
    padding: 0;

    .ant-page-header-heading {
      padding-top: 2px;
      padding-bottom: 2px;
      margin-bottom: 6px;
      height: 44px;

      .ant-page-header-heading-title {
        color: $text-secondary;
        font-size: 20px;
        font-family: $ibm-plex-sans-medium;
        font-weight: 500;
      }

      .ant-page-header-heading-extra {
        display: flex;
      }
    }

    .ant-page-header-content {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;

      .panel-section {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        .ant-page-header-heading-title {
          color: $text-secondary;
          font-size: 16px;
          font-family: $ibm-plex-sans-medium;
          font-weight: 400;
        }

        .ant-page-header-content {
          padding-top: 0px;
        }
      }
    }
  }
}
