@import "style/colors";
@import "style/typography";

.sidebar-dropdown-menu {
  .sidebar-dropdown-menu-item {
    padding: 10px 20px !important;
    font-size: 15px !important;
    text-transform: unset !important;
    font-family: $ibm-plex-sans-regular;
    color: $text-primary;

    &:hover {
      color: $blue;
      font-family: $ibm-plex-sans-medium;
    }
  }
}

.sidebar {
  width: 100%;

  .btn--create {
    color: $white;
    text-transform: unset;
    padding: 1.25rem 2.5rem;
    font-size: 16px;
    border-radius: 8px;
    font-family: $ibm-plex-mono-medium;
    font-weight: bold;
    background: linear-gradient(70deg, $blue, #5159f8);

    &:hover,
    &:active,
    &:focus {
      background: linear-gradient(70deg, $blue, #5159f8);
      backdrop-filter: darkness(80%);
      color: $white;
    }
  }

  .sidebar-menu {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;

    .sidebar-menu-item {
      min-width: 150px;
      padding: 0 !important;
      margin-bottom: 20px;
      background: transparent !important;
      font-size: 15px;
      text-transform: unset !important;
      font-family: $ibm-plex-sans-regular;
      color: $text-primary;

      &.active {
        font-family: $ibm-plex-sans-medium;
      }
      &:hover {
        color: $blue;
        font-family: $ibm-plex-sans-medium;
      }
    }
  }
}
