@import "style/colors";
@import "style/buttons";

.btn--collection-state {
  @extend .btn;
  color: $white !important;
  text-transform: uppercase !important;
  border-radius: 0 !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;

  .state-text-holder {
    height: 32px;
    line-height: 18px;
    padding: 7px 10px;
    color: $white;
    min-width: 100px !important;

    &--new {
      @extend .state-text-holder;
      background: $new;
      &:hover {
        background: darken($new, 10%);
      }
    }

    &--review {
      @extend .state-text-holder;
      background: $review;
      &:hover {
        background: darken($review, 10%);
      }
    }

    &--info {
      @extend .state-text-holder;
      background: $info;
      &:hover {
        background: darken($info, 10%);
      }
    }

    &--approved {
      @extend .state-text-holder;
      background: $approved;
      &:hover {
        background: darken($approved, 10%);
      }
    }

    &--declined {
      @extend .state-text-holder;
      background: $declined;
      &:hover {
        background: darken($declined, 10%);
      }
    }
  }

  .caret {
    margin-right: 10px;
    color: $new;

    svg {
      height: 18px;
      width: 18px;
    }

    &--new {
      @extend .caret;
      color: $new !important;

      &:hover {
        color: darken($new, 10%) !important;
      }
    }

    &--review {
      @extend .caret;
      color: $review !important;

      &:hover {
        color: darken($review, 10%) !important;
      }
    }

    &--info {
      @extend .caret;
      color: $info !important;

      &:hover {
        color: darken($info, 10%) !important;
      }
    }

    &--approved {
      @extend .caret;
      color: $approved !important;

      &:hover {
        color: darken($approved, 10%) !important;
      }
    }

    &--declined {
      @extend .caret;
      color: $declined !important;

      &:hover {
        color: darken($declined, 10%) !important;
      }
    }
  }
}
