@import "style/colors";
@import "style/typography";
@import "style/buttons";

.global-error {
  color: $red;
  font-size: 13px;
  margin-top: 0.5rem;
}

.reset {
  .brand-wrapper {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    margin-top: -100px;

    .reset-content {
      margin-top: 20px;
      min-width: 400px;

      .heading {
        font-size: 22px;
        font-weight: 500;
        color: $text-secondary;
        margin-bottom: 10px;
        font-family: $open-sans-bold;
      }

      .sub-heading {
        color: $text-tertiary;
        font-size: 14px;
        font-family: $open-sans-medium;
        margin-top: 0 !important;
      }

      .contact-link {
        text-decoration: none;
        color: $text-primary;
      }
    }
  }

  .powered-by {
    width: 100%;
    position: absolute;
    top: 70vh;
    text-align: center;
  }
}
