@import "style/colors";
@import "style/layout";

.header-menu {
  min-width: 150px;
  top: 70px !important;
  padding-top: 0px !important;
  border: $layout-border;

  .header-menu-item {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px !important;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;

    .icon-container {
      margin-right: 8px;
      width: 20px;
      height: 20px;
      position: relative;

      svg {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
        position: absolute;
      }
    }

    .text-container {
      line-height: 20px;

      .label {
        line-height: 20px;
      }
    }

    &:hover,
    &.active {
      background-color: rgba(0, 0, 0, 0.04);

      .icon-container {
        svg {
          color: $blue !important;
        }
      }
      .text-container {
        .label {
          color: $blue !important;
        }
      }
    }
  }
}
