@import "style/typography";
@import "style/colors";
@import "style/layout";

.header {
  display: flex;
  justify-content: space-between;

  .active {
    color: $blue !important;
  }

  .home-container {
    .home {
      img {
        max-width: 205px;
        max-height: 25px;
        height: auto;
      }
    }
  }

  .toolbar-container {
    flex-grow: 100;
    height: 100%;
    line-height: 1 !important;

    .toolbar {
      float: right;
      height: 100%;

      .nav-link {
        display: inline-flex;
        background-color: transparent;
        height: 100%;
        width: $nav-bar-height;
        padding: calc(0.5 * (#{$nav-bar-height} - 24px));

        .ant-badge {
          &.success {
            .ant-badge-count {
              background: $green;
            }
          }
          &.failed {
            .ant-badge-count {
              background: $red;
            }
          }
        }

        .icon {
          color: $text-primary !important;
          height: 20px;
          width: 20px;

          svg {
            height: 100%;
            width: auto;
          }
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }

        &:hover,
        &.active {
          .icon {
            color: $blue !important;
          }
        }

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.04);
          // border-radius: 100%;
        }
      }
    }
  }
}
