@import "style/colors";

.forgiveness {
  color: $white;
  background: linear-gradient(90deg, $blue-theme, $blue);
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 25px;

  .title {
    width: 100%;
    font-size: 11px;
    color: $white;
    display: block;
    text-transform: uppercase;

    &.forgive {
      text-transform: none;
    }
  }

  .amount-row {
    width: 100%;
    font-size: 23px;
    color: $white;
    text-transform: none;
    display: block;
    font-weight: bold;
  }

  // TODO: Use common classes/components for button.
  .view-details-button {
    color: $white;
    font-size: 11px;
    display: flex;
    margin-top: 20px;
    &:hover {
      background: none;
    }
  }
}
