@import "style/colors";
@import "style/typography";

.head-count {
  padding: 15px;
  margin-top: 20px;
  background: $off-white;
  min-height: 330px;

  .head-count-header {
    .title {
      width: 100%;
      font-size: 11px;
      color: #959daf;
      text-transform: uppercase;
      display: block;

      &.head-count {
        text-transform: none;
      }
    }
    // TODO: Use common classes/components for button.
    .head-count-button {
      border-radius: 100%;
      width: 30px;
      height: 30px;
      background: #dfd9ff;
      color: #847bff;
      padding: 15px;
    }
  }

  .head-count-content {
    width: 100%;
    font-size: 15px;
    color: #959daf;
    text-transform: none;
    display: block;
    text-align: center;
    padding: 10px 20px;

    .total {
      font-size: 40px;
      color: $black;
      font-weight: 700;
    }

    .percentage {
      font-size: 14px;
      color: $blue;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .show-more {
      margin: 20px auto 0;
      font-size: 12px;
      color: #caced7;
      display: flex;
    }
  }
}
