@import "style/colors";

.information {
  padding: 15px;
  margin-bottom: 30px;

  .title-info {
    font-size: 14px;
    color: #1b1b1b;
    text-transform: unset;
    display: block;
    font-weight: bold;
  }

  // TODO: Use common classes/components for button.
  .edit-button {
    text-transform: uppercase;
    font-size: 13px;
    color: $blue;
    padding: 0;
    margin: 0;
    &:hover {
      background: none;
      // TODO: Reference constant here.
      color: #618bff;
    }
  }

  .title-left {
    font-size: 12px;
    color: #1b1b1b;
  }

  .right-desc {
    font-size: 12px;
    color: $blue;
  }

  .show-more {
    margin: 20px auto 0;
    font-size: 12px;
    color: #caced7;
    display: flex;
  }
}
