@import "style/colors";

.loan-info {
  padding: 15px;
  margin-top: 20px;
  background: #fafafa;
  min-height: 330px;

  // TODO: Use common classes/components for button.
  .calculate-button {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: $blue-light-light;
    color: $blue;
    padding: 15px;
  }

  .title {
    width: 100%;
    color: #959daf;
    display: block;

    &.loan-info {
      font-size: 15px;
      text-transform: none;
    }
    &.calculate {
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}
