// Generic Colors
$red: #d73a49;
$red-hover: #e2707b;
$red-alpha: #fff1f0;
$red-light: #ffdce0;

$green: #36cea2;
$green-light: #b7eb8f;
$green-alpha: #f6ffed;

$orange: #fd905f;
$orange-light: #ffd591;
$orange-alpha: #fff7e6;

$gold: #faad14;
$gold-light: #ffe58f;
$gold-alpha: #fffbe6;

$volcano: #fa541c;
$volcano-light: #ffbb96;
$volcano-alpha: #fff2e8;

$purple: #722ed1;
$purple-light: #d3adf7;
$purple-alpha: #f9f0ff;

$blue: #5eaeff;
$blue-theme: #618bff;
$blue-light: #91d5ff;
$blue-theme-hover: darken($blue-theme, 10%);
$blue-light-light: #caf1ff;
$blue-alpha: #e6f7ff;

$cyan: #13c2c2;
$cyan-light: #87e8de;
$cyan-alpha: #e6fffb;

$pink: #ef65b1;
$pink-light: #ffadd2;
$pink-alpha: #fff0f6;

$yellow: #efcd5d;

$white: #ffffff;
$off-white: #fafafa;
$black: #000000;
$gray-dark: #727272;
$gray: #c1c1c1;
$gray-light: #e2e2e2;
$gray-light-light: #f1f1f1;
$transparent: rgba(0, 0, 0, 0);

// Typography Colors - These need to be revisited.
$text-primary: rgba(0, 0, 0, 0.85);
$text-secondary: rgba(35, 35, 35, 0.85);
$text-tertiary: #5a5a5a;

$error: $red;
$success: $green;
$done: $green;
$cancel: $gray-light;
$confirm: $gray;
$delete: $gray;

$new: $orange;
$review: $yellow;
$info: $blue;
$approved: $green;
$declined: #fc4d76;
$processing: $blue;
$complete: $green;
$failed: $red;

$separator-color: $gray-light-light;

// Icon Colors
$icon-color: $gray;
$icon-color-light: $gray-light;
$icon-color-light-light: $gray-light-light;
$icon-error-color: $error;
$icon-done-color: $done;
$icon-success-color: $success;
$icon-delete-color: $delete;
$icon-cancel-color: $cancel;
$icon-confirm-color: $confirm;
$icon-close-color: #727272;

.color {
  &--text-primary {
    color: $text-primary !important;
  }
  &--text-secondary {
    color: $text-secondary !important;
  }
  &--blue {
    color: $blue !important;
  }
  &--red {
    color: $red !important;
  }
  &--yellow {
    color: $yellow !important;
  }
  &--orange {
    color: $orange !important;
  }
  &--green {
    color: $green !important;
  }
  &--gray {
    color: $gray !important;
  }
  &--gray-light {
    color: $gray-light !important;
  }
  &--gray-light-light {
    color: $gray-light-light !important;
  }
  &--new {
    color: $new !important;
  }
  &--review {
    color: $review !important;
  }
  &--info {
    color: $info !important;
  }
  &--approved {
    color: $approved !important;
  }
  &--declined {
    color: $declined !important;
  }
  &--processing {
    color: $processing !important;
  }
  &--failed {
    color: $failed !important;
  }
  &--complete {
    color: $complete !important;
  }
}

.color-map {
  &--blue {
    color: $blue;
    background: $blue-alpha;
    border: 1px solid $blue-light-light !important;
  }
  &--green {
    color: $green;
    background: $green-alpha;
    border: 1px solid $green-light !important;
  }
  &--red {
    color: $red;
    background: $red-alpha;
    border: 1px solid $red-light !important;
  }
  &--orange {
    color: $orange;
    background: $orange-alpha;
    border: 1px solid $orange-light !important;
  }
  &--gold {
    color: $gold;
    background: $gold-alpha;
    border: 1px solid $gold-light !important;
  }
  &--volcano {
    color: $volcano;
    background: $volcano-alpha;
    border: 1px solid $volcano-light !important;
  }
  &--purple {
    color: $purple;
    background: $purple-alpha;
    border: 1px solid $purple-light !important;
  }
  &--cyan {
    color: $cyan;
    background: $cyan-alpha;
    border: 1px solid $cyan-light !important;
  }
  &--pink {
    color: $pink;
    background: $pink-alpha;
    border: 1px solid $pink-light !important;
  }
}

.ant-tag-orange {
  color: $orange;
}

.ant-tag-yellow {
  color: $yellow;
}

.ant-tag-blue {
  color: $blue;
}

.ant-tag-red {
  color: $red;
}

.ant-tag-green {
  color: $green;
}

.color-99 {
  color: #999999;
}
