@import "./typography";
@import "./colors";

// AntD Overrides
.ant-dropdown-menu {
  padding: 0;
  line-height: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 16px;
  font-family: $roboto-regular;

  .ant-dropdown-menu-item {
    background-color: $white;
    background: $white;
    color: $text-secondary !important;
    font-family: $roboto-regular;
    padding: 10px 14px;
    font-size: 13px;

    &:not(:last-child) {
      border-bottom: 1px solid $off-white;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}
