@import "./colors";

.icon-wrapper {
  color: $icon-color;
  cursor: pointer;

  .icon {
    svg {
      color: $icon-color;
    }
    &.left {
      margin-right: 8px;
    }

    &.right {
      margin-left: 8px;
    }
  }

  &.left {
    margin-right: 8px;
  }

  &.right {
    margin-left: 8px;
  }
}

.icon,
.anticon {
  color: $icon-color;

  &--light {
    @extend .icon;
    color: $icon-color-light !important;

    &--light {
      @extend .icon;
      color: $icon-color-light-light !important;
    }
  }

  &--table-icon {
    @extend .icon;
    height: 20px;
    width: 20px;

    svg {
      height: 100%;
      width: auto;
    }
  }

  &--file {
    @extend .icon;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &--done {
    @extend .icon;
    color: $icon-done-color !important;
  }

  &--error {
    @extend .icon;
    color: $icon-error-color !important;
  }

  &--blue {
    @extend .icon;
    color: $blue !important;
  }

  &--green {
    @extend .icon;
    color: $green !important;
  }

  &--orange {
    @extend .icon;
    color: $orange !important;
  }

  &--red {
    @extend .icon;
    color: $red !important;
  }

  &--yellow {
    @extend .icon;
    color: $yellow !important;
  }

  &--success {
    @extend .icon;
    color: $icon-success-color !important;
  }

  &--cancel {
    @extend .icon;
    color: $icon-cancel-color !important;
  }

  &--confirm {
    @extend .icon;
    color: $icon-confirm-color !important;
  }

  &--delete {
    @extend .icon;
    color: $icon-delete-color !important;
  }

  &--close {
    @extend .icon;
    color: $icon-close-color !important;
  }
}

.grid-icon {
  font-size: 20px;
  margin: 5px 0 0 4px;
}
