@import "~react-toastify/dist/ReactToastify.css";
@import "~react-datepicker/dist/react-datepicker.css";

@import "./colors";
@import "./typography";
@import "./layout";
@import "./tables";
@import "./buttons";
@import "./input";
@import "./dropdown";
@import "./forms";
@import "./icons";
@import "./responsive";
@import "./overrides";

@import "~antd/dist/antd.css";

.cursor-pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.empty {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
