@import "./colors";

@mixin font($family, $size, $line-height: 0, $color: $text-primary, $weight: 400, $style: normal) {
  font-family: $family;
  font-weight: $weight;
  font-style: $style;
  color: $color;
  font-size: $size;
  line-height: $line-height;

  @if $line-height == 0 {
    line-height: $size;
  }
}
