@import "./colors";

.Mui-focused {
  color: $gray !important;
  border-color: $gray !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: $gray !important;
  border-radius: 10px !important;
}

.Mui-error {
  color: $gray !important;
  border-color: $gray !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: $gray !important;
}

.MuiFormHelperText-contained {
  color: $red !important;
  font-size: 12px !important;
}

.Mui-focused{
  color: $gray !important;
  border-color: $gray !important;
}

.MuiSelect-outlined {
  padding: 0.75rem !important;
}

.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded {
  min-width: 150px;
  margin: 47px 2px;
}

.MuiChip-root {
  margin-right: 10px;
  background: #ebebeb !important;
  margin-bottom: 2px;
}

.MuiOutlinedInput-input span {
  display: none;
}

.MuiTablePagination-root div span:nth-child(4){
  font-weight: bold;
}

.MuiSelect-selectMenu {
  min-height: 20px !important;
}

.MuiBreadcrumbs-ol li:last-child p {
  font-weight: bold !important;
}

.react-autosuggest__container {
  position: relative;
  height: fit-content;
  margin: auto 0;
  width: calc(100% - 32px);
}

.react-autosuggest__input {
  width: 150px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: none;
  /*display: block;*/
  position: absolute;
  top: 32px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: $white;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__input {
  width: 100%;
  border: none;
  padding: 0;
}

.searchIcon input:focus {
  outline: none !important;
  border: none !important;
}

.react-select-timezone div {
  min-height: 38px;
  border-radius: 10px;
  line-height: 38px;
}

// AntD Overrides
.ant-breadcrumb {
  line-height: 1 !important;
}