@import "~ag-grid-autocomplete-editor/main.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";

@import "./colors";

$table-border: 1px solid #f0f0f0;

.select-controller {
  display: flex;
  margin-bottom: 8px;

  &.table-select-controller {
    padding-left: 14px;
  }

  &.grid-select-controller {
    margin-bottom: 14px;
  }

  .select-controller-checkbox-container {
    padding: 5px;
    margin-right: 10px;
  }

  .select-controller-icon-button {
    :not(:last-child) {
      margin-right: 12px;
    }
  }
  .select-controller-selected-text {
    line-height: 28px;
    margin-left: 12px;
    font-size: 13px;
  }
}

.ag-menu-list {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.ant-empty-image {
  height: 50px;
  margin-bottom: 8px;
}

.ag-theme-nirveda {
  font-size: 14px;

  .ag-header-container {
    border-bottom: 1px solid $gray-light-light;
    border-top: 1px solid $gray-light-light;

    .ag-header-row {
      .ag-header-cell {
        background: $off-white;
        background-color: $off-white;

        border-right: 1px solid $gray-light-light;
        &:first-child {
          border-left: 1px solid $gray-light-light;
        }

        .ag-header-cell-label {
          justify-content: center;

          .ag-header-cell-text {
            white-space: normal !important;
          }
        }
      }
    }
  }

  .ag-row {
    border-color: $gray-light-light;

    .ag-cell {
      text-align: center;
      white-space: normal !important;
      border-right: 1px solid $gray-light-light;
      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center;

      .ag-input-wrapper {
        .ag-cell-edit-input {
          border-bottom: none;
          padding-bottom: 0px;
        }
      }

      &.ag-ltr,
      &.ag-has-focus,
      &.ag-cell-focus {
        border: 1px solid $blue !important;
        border-radius: 0px;
      }
    }
  }
}

.ant-table {
  font-size: 13px;

  .ant-table-cell {
    padding: 8px;
  }

  thead.ant-table-thead {
    tr {
      th.ant-table-cell {
        border-top: $table-border !important;
        &:first-child {
          border-left: $table-border !important;
        }
        &:last-child {
          border-right: $table-border !important;
        }
      }
    }
  }

  tr.ant-table-expanded-row {
    td.ant-table-cell {
      background: $white !important;
      .ant-table {
        margin: -8px -8px -8px -8px !important;
        thead.ant-table-thead {
          th.ant-table-cell {
            border-top: none !important;
          }
        }
      }
    }
    .ant-table tbody.ant-table-tbody {
      .ant-table-placeholder {
        td.ant-table-cell {
          border-left: none !important;
          border-right: none !important;
          border-bottom: none !important;
        }
      }
    }
  }

  tr.ant-table-expanded-row-level-1 {
    thead.ant-table-thead {
      th.ant-table-cell:not(:only-child) {
        &:first-child {
          padding-left: 100px;
        }
      }
    }
    tbody.ant-table-tbody {
      td.ant-table-cell:not(:only-child) {
        &:first-child {
          padding-left: 100px;
        }
      }
    }

    tr.ant-table-expanded-row-level-1 {
      thead.ant-table-thead {
        th.ant-table-cell {
          &:first-child:not(:only-child) {
            padding-left: 140px;
          }
        }
      }
      tbody.ant-table-tbody {
        td.ant-table-cell {
          &:first-child:not(:only-child) {
            padding-left: 140px;
          }
        }
      }
    }
  }

  td {
    font-size: 12px;

    .icon-cell-container {
      line-height: 14px;
      padding-top: 3px;
      padding-bottom: 3px;
      display: flex;

      .icon-container {
        margin-right: 8px;
      }
      .link,
      .text-container {
        line-height: 22px;
      }
      .link {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 300px;
      }
    }
    .ant-badge {
      .ant-badge-status-text {
        font-size: 12px;
      }
    }
    .actions-table-cell {
      float: right;
      display: flex;
    }
  }

  td,
  th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
  }

  tbody.ant-table-tbody {
    .ant-table-placeholder {
      td.ant-table-cell {
        border-left: $table-border !important;
        border-right: $table-border !important;
        border-bottom: $table-border !important;
      }
    }
  }

  .ant-table-pagination.ant-pagination {
    margin-top: 15px !important;
    margin-bottom: 0px !important;
  }
}
