.trash-grid-container {
  // Just the right amount to not shift around the UI when no elements are in the grid.
  min-height: 306px;
  display: flex;
  flex-direction: column;

  .trash-grid {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 100;

    .card {
      flex: 1 1 145px;
    }

    .icon--trash {
      svg {
        width: auto !important;
      }
    }
  }
  .pagination-container {
    display: flex;
    justify-content: flex-end;
  }
}
