@import "style/colors";
@import "style/typography";

.summary {
  display: flex;
  height: 400px;

  .summary-child-container {
    width: 50%;
    position: relative;

    .title {
      width: 100%;
      font-size: 11px;
      color: $gray;
      text-transform: uppercase;
      display: block;
      font-family: $roboto-regular;
      margin-bottom: 0px !important;
    }

    .subtitle {
      margin-top: 0px !important;
      width: 100%;
      font-size: 15px;
      text-transform: none;
      display: block;
      font-family: $roboto-regular;
      color: #a7a7a7;
    }

    &.portfolio-status-wrapper {
      height: 400px;
      margin-right: 10px;
      // This is the minimimum amount of width needed for the chart to render
      // with the legend and not collapse.
      min-width: 540px;

      .portfolio-status {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
          rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

        .chart-icon-button {
          position: absolute;
          top: 15px;
          right: 15px;
          border-radius: 100%;
          height: 30px;
          width: 30px;
          background: $blue-light-light;
          color: $blue-theme;
          padding: 15px;
        }

        .chart-container {
          text-align: center;
          width: 100%;
          height: 370px;
        }
      }
    }
    &.overview-wrapper {
      margin-left: 10px;
      flex-grow: 100;
      height: 100%;

      .overview {
        padding: 20px;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
          rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

        .loan-totals {
          margin: 20px auto;
          width: 80%;
        }

        .loan-totals-list {
          font-size: 15px;
          margin-bottom: 15px;
          color: $text-primary;
          text-transform: none;
          font-weight: 400;
        }
      }
    }
  }
}
