@import "style/colors";
@import "style/typography";
@import "style/mixins";

.assign-collection-users {
  display: flex;
  flex-direction: row;
  height: 32px;

  .assigned-users-container {
    margin-right: 4px;
    display: flex;
    // padding-top: 3px;
    // padding-bottom: 3px;

    .assigned-user {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.assigned-user-menu {
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  .assigned-user-menu-item {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;

    .icon {
      font-size: 18px !important;
      line-height: 18px;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .assigned-user-item-text {
      margin-left: 8px;
      @include font($ibm-plex-sans-regular, 14px, 22px);

      > span {
        color: $gray-light;
        margin-left: 4px;

        &:before {
          content: "(";
        }

        &:after {
          content: ")";
        }
      }
    }
  }
}
