@import "style/colors";

.display-type-toggle {
  .btn--display-type-toggle {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    color: $gray-light-light;

    &.active {
      color: $gray;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    svg {
      height: 20px;
      width: 20px;
    }
  }
}