@import "style/typography";
@import "style/colors";

.dropdown-content {
  .dropdown-content-text-container {
    font-family: $ibm-plex-sans-medium !important;
    color: $text-primary;
    margin-right: 15px;
    line-height: 32px;
  }
  .btn {
    &--state-dropdown {
      font-family: $roboto-medium !important;
    }
  }
}
