@import "style/typography";
@import "style/colors";

.brand-wrapper {
  .body {
    padding: 40px 130px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 15px 12px 0 rgba(0,0,0,.3);

    .tenant-powered-box {
      margin-top: 20px;

      .tenant-powered-logo-box {
        max-width: 200px;
        margin-top: -30px;
      }
    }
  }

  .circle {
    margin: auto;
    margin-bottom: -2px;
    background: $white;
    width: 200px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    height: 100px;
    text-align: center;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.55);

    .avatar {
      margin: 8px;
      height: 150px;
      padding-top: 20px;
      padding-bottom: 15px;
      width: 100px;
    }
  }
}