@import "style/colors";

.spinner {
  z-index: 1000;
  height: 25px;
  width: 25px;
  left: calc(50vw - 12.5px);
  top: calc(50vh - 12.5px);

  &.absolute {
    position: absolute;
    left: calc(50% - 12.5px);
    top: calc(50% - 12.5px);
  }

  &.relative {
    position: relative;
  }

  &.fixed {
    position: fixed;
  }

  .anticon {
    color: $blue !important;
    max-height: 100%;
    max-width: 100%;

    svg {
      height: 100%;
      width: auto;
    }
  }
}
