@import "style/colors";

.work-item-modal {
  .ant-modal-content {
    .ant-modal-body {
      padding: 0px;

      .step-content {
        display: flex;
        min-height: 500px;

        .step-content-left {
          background: #f9f9f9;
          padding: 40px;
        }
        .step-content-right {
          padding: 40px;
          width: 100%;

          .step-content-right-upload {
            height: 100%;
            background: #f9f9f9;
            width: 100%;
            padding: 20px;
            margin-top: 10px;

            .dzu-dropzone {
              min-height: 100% !important;
            }

            .ProgressBar {
              width: 80px;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
