@import "style/colors";
@import "style/typography";

.list-view {
  width: 100%;

  .collection-state-table {
    position: relative;
    // This minimum height is what allows us to hide/show the entire table with
    // the caret button but still give the caret button enough space until the
    // next table's caret button when the table is hidden.
    min-height: 48px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .caret-button-container {
      position: absolute;
      z-index: 2;
      left: -30px;
    }

    .ant-table {
      thead.ant-table-thead {
        text-transform: uppercase;

        th.ant-table-cell {
          color: $gray;
          font-family: $ibm-plex-sans-regular;
          background-color: $transparent !important;
          padding-top: 8px;
          padding-bottom: 20px;
          font-size: 12px;

          &:first-child {
            width: 200px;
          }
          border-left: unset !important;
          border-right: unset !important;
          border-top: unset !important;
        }
      }
      tbody.ant-table-tbody {
        border-left: 1px solid #edeeef;
        border-right: 1px solid #edeeef;

        td.ant-table-cell {
          padding-top: 8px;
          padding-bottom: 8px;
          font-size: 12px;

          &:first-child {
            width: 200px;
            border-left: 1px solid #f0f0f0;
          }
          &:last-child {
            border-right: 1px solid #f0f0f0;
          }
          .title {
            text-transform: unset;
            color: $text-primary;
            font-family: $ibm-plex-sans-bold;
            line-height: 36px;
          }
        }
      }
    }
  }
}
