@import "style/colors";
@import "style/typography";

.collection-card {
  .content {
    .body {
      .header-container {
        // For whatever reason, the folder icon has additional whitespace below
        // it in the SVG, so we don't need a margin underneath it.
        margin-top: 0px !important;
        margin-bottom: 8px;
      }
    }
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  text-align: center;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  max-width: 145px;
  justify-content: center;
  transition: ease all 0.5s;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  margin-right: 15px;

  &:last-child {
    margin-right: 0px;
  }

  &:hover {
    border-color: transparent;
    -webkit-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
      0 5px 12px 4px rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  }

  .icon-wrapper {
    margin-bottom: 5px;
    cursor: auto !important;

    .anticon {
      svg {
        color: $gray-light !important;
        width: 65px;
        height: auto;
      }
    }
  }

  .card-checkbox {
    position: absolute;
    left: 14px;
    top: 10px;
  }

  .content {
    .body {
      .icon {
        svg {
          color: #dadada;
          height: 60px;
          width: auto;
        }
      }
      .header-container {
        font-family: $ibm-plex-sans-medium;
        margin-top: 6px;
        line-height: 18px;

        .name {
          font-size: 13px !important;
          color: rgba(35, 35, 35, 0.85) !important;

          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          @supports (-webkit-line-clamp: 2) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          &.name-link {
            color: $blue !important;
          }
        }
      }

      .sub-header-container {
        height: 28px;

        .document-status {
          padding-top: 4px;
          padding-bottom: 4px;

          .ant-badge-status-text {
            font-size: 13px;
            line-height: 14px;
            font-family: $roboto-regular;
            color: $text-tertiary;
          }
        }
      }
    }
    .card-footer {
      border-top: 1px solid #e1e3e4;
      margin-top: 4px;
      text-align: left;
      padding: 10px 10px 0px 10px;
      width: 100%;

      .addition {
        color: $text-tertiary;
        font-family: $roboto-regular;
        font-size: 12px;
        &:not(:last-child) {
          margin-bottom: 3px;
        }
      }
    }
  }
}
