@import "style/colors";
@import "style/typography";


.loginsso{
  margin-top: 20px;
}
.ssologin {
  margin-right: 10px;
  padding: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08%);
}

.kpmgssologin {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08%);
}

.global-error {
  color: $red;
  font-size: 13px;
  margin-top: 0.5rem;
}

.login-page {
  .powered-by {
    width: 100%;
    position: absolute;
    top: 70vh;
    text-align: center;
  }

  .brand-wrapper {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    margin-top: -100px;

    .signup {
      font-size: 13px;
      font-weight: 600;
      text-decoration: none;
      color: $blue-theme;
      &:hover {
        cursor: pointer;
      }
    }

    .no-account,
    a.forgot {
      color: #686868;
      font-size: 13px;
      text-decoration: none;
      text-transform: unset;
      font-family: $ibm-plex-sans-regular;

      &:hover {
        cursor: pointer;
      }
    }

    .contact-link {
      text-decoration: none;
      color: #1e2a5a;
    }
  }
}

// loginsso

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: spin 2s linear infinite;
  margin-left: 48%;
  margin-top: 25%;
}

@keyframes spin {
  0%  { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading{
  margin-left: 47%;
  margin-top: 5px;
}