.signup-main{
    min-height: calc( 100vh);
}

.account-container {
  margin-top: 32px;
  padding: 32px 5rem 80px;
  min-height: 500px;
}

.account-header {
  color: #1e2a5a;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Raleway !important;
}

.general-row {
  display: flex;
}

.section {
  display: flex;
  margin: 24px 0;
}

.reset-section {
  margin-top: 48px;
}

.avatar-div {
  display: flex;
  margin: 24px 0;
}

.account-status {
  border-radius: 12px;
  height: fit-content;
  margin: auto 0 auto 16px;
  color: white;
  font-weight: 600;
  padding: 4px 16px;
  font-size: 13px;
  background: #5fafff
}

.account-container .MuiOutlinedInput-notchedOutline {
  border-color: #e1e3e4 !important;
}

.sub-header {
  font-size: 1.5rem;
  color: #686868;
}

.update-btn {
  margin-left: auto !important;
  text-transform: none !important;
}

.email {
  font-size: 1rem;
  color: #686868;
}


.reset-btn {
  text-transform: none;
  padding: 16px !important;
  //background-color: #5fafff !important;
  span {
    font-weight: 600;
    text-transform: none;
    //color: #686868 !important;
    line-height: 1.4 !important;
  }
}

.account-container{
  .Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #e1e3e4 !important;
  }
  .MuiInputBase-input {
    padding: 16px 24px !important;
  }

  .MuiFormControl-root .MuiFormHelperText-contained {
    color: #686868 !important;
    margin-left: 0 !important;
    font-size:9px;
  }
  .MuiButton-containedPrimary {
    background-color: #618bff ;
    color: white !important;
  }
  .MuiButton-contained.Mui-disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: #686868 !important;
  }
}

.error-icon {
  color: #ea4864;
  margin: auto 8px;
}

.error-desc {
  color: #686868;
  display: flex;
  margin: auto;
}
.avatarDiv{display: flex;}
.user-icon {
  width: 80px;
  margin: auto 12px -15px -10px;
}

.griduserIcon {
  width: 100px;
  margin: auto;
}

.userIcon {
  width: 50px;
  margin: auto 12px -15px -10px;
}

.adminuserIcon {
  width: 50px;
  margin: auto 12px -15px -4px;
}
.avatarDiv{margin:0;}

.user-name{
    font-size: 1rem;
    font-family: Raleway !important;
    margin: auto 0;
}

hr{
  border: 1px solid #f4f4f6;
}


.flyLink{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    left : 0;
    top: 0;
  }